[Desktop Entry]
Encoding=UTF-8
Name=kdiffextsetup
Exec=kdiffextsetup
Icon=kdiffextsetup
Type=Application
Comment=kdiffext setup application
Comment[ru]=Программа установки kdiffext
Comment[uk]=Програма налаштування kdiffext
